<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JELLICON</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/download.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/jellyfish_icon.ico') }}">
</head>
<body>

    <div class="vertical-block upper-block"></div>

    <div class="main">
        {% block main %}{% endblock %}
    </div>

    <div class="vertical-block bottom-block"></div>

</body>
</html>
