@font-face {
    font-family: fffForwa; src: url("FFFFORWA.TTF");
}

body{
    margin: 0;
    padding: 0;
    font-family: fffForwa;
    align-items: center;
    background: black;
    height: 100%;
}

html {
    height: 100%;
}

.vertical-block {
    height: 50px;
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1;
}

.upper-block {
    top: 0;
}

.bottom-block {
    bottom: 0;
}

a{
    color: #616161;
}

.image_link{
    opacity: 1;
}

.image_link:hover{
    opacity: 0.7;
}

section{
    text-align: center;
    margin-bottom: 40px;
    color: #707070;
}