form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .form-group {
    margin-left: 60px;
}

.image-input_label {
    color: black;
}

.image-formats_message {
    color: black;
    padding-top: 10px;
    font-size: 0.9em;
}

button {
    margin-top: 20px;
    background-color: #dc9edc;
    border-color: #dc9edc;
    border-radius: 2px;
    padding: 5px;
    font-size: 1em;
    align-self: center;
    font-family: fffForwa;
}

button:hover {
    background-color: #d881d8;
    border-color: #d881d8;
}

.error {
    margin: 20px 0 0 0;
    font-size: 0.9em;
    color: #912a91;
    text-align: center;
}

.error-page.error {
    margin: 0;
    width: 40%;
    line-height: 2em;
}

.format-buttons {
    display: flex;
}

.button-helper{
    font-size: 0.9em;
}

.vertical-block.algae {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#high_algae {
    background: url('../images/high_algae.png');
    height: 128px;
}

.lower_algae {
    height: 64px;
}

#lower_algae_1 {
    background: url('../images/lower_algae_1.png');
}

#lower_algae_2 {
    background: url('../images/lower_algae_2.png');
    background-position-x: 32px;
}
