.download_link{
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    padding: 1px 20px 1px 20px;
    border-radius: 2px;
    background-color: #d2f491;
    border-left-color: #d2f491;
    border-top-color: #d2f491;
    border-right-color: #b0c785;
    border-bottom-color: #b0c785;
    color: black;
}

.download_link:hover{
    opacity: 0.7;
}