form{
    display: flex;
    flex-direction: column;
}

.image-input_label, .extension-selector-text{
    color: #404040;
}
.extension-selector{
    display: flex;
    margin-top: 10px;
}

.image-formats_message{
    color: #707070;
    font-size: 0.7em;
}

button{
    margin-top: 20px;
    background-color: #d2f491;
    border-color: #d2f491;
    border-radius: 2px;
    padding: 1px;
    font-size: 1em;
    width: 150px;
    align-self: center;
}

button:hover{
    opacity: 0.7;
}

.extension-text{
    margin-left: 5px;
    color: #404040;
    font-size: 0.9em;
}

.extension{
    margin-left: 20px;
}

.error{
    margin: 0;
    font-size: 0.9em;
    color: red;
    text-align: center;
}