{% extends "index.html" %}

{% block main %}
<form action="/" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="image-input_label">Select image:</label>
        <input type="file" class="custom-file-input" name="image" id="image">
    </div>
    <label class="image-formats_message">Accepted formats: .jpg, .png</label>
    <div class="extension-selector">
        <label class="extension-selector-text">Select extension:</label>
        <div class="extension">
            <input type="radio" name="extension-radio" value="icns"/><span class="extension-text">.icns</span>
        </div>
        <div class="extension">
            <input type="radio" name="extension-radio" value="ico"/><span class="extension-text">.ico</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Go!</button>
</form>

    {% if error %}
    <label class=error><strong>Error:</strong> {{ error }}</label>
    {% endif %}


{% endblock %}